<div class="my-3">
  <div class="page-width">
    <div class="text-white p-4 rounded-2xl flex gap-10 w-full">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {% when 'content' %}
            <div class="certification_content_container-{{ block.id }} w-1/2 p-10 rounded-2xl">
              <h1 class="mb-3">{{ block.settings.heading_text }}</h1>
              <div class="p3">{{ block.settings.description_text }}</div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% style %}
  {% for block in section.blocks %}
      {%- case block.type -%}
          {%- when 'content' -%}
              .certification_content_container-{{ block.id }}{
                background: {{ block.settings.background_color }};
              }
      {% endcase %}
  {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Certification Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "content",
      "name": "Content Block",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background",
          "default": "#B5A787"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Certification"
        },
        {
          "type": "text",
          "id": "description_text",
          "label": "Short Description Text",
          "default": "Detailed certification information"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Certification Section",
      "category": "text"
    }
  ]
}
{% endschema %}
